.fighter-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Fighter1 Fighter2"
    "fightLaunch fightLaunch";
}

.fighter1 {
  justify-self: center;
  align-self: center;
  grid-area: Fighter1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.fighter2 {
  justify-self: center;
  align-self: center;
  grid-area: Fighter2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fightLaunch {
  justify-self: center;
  align-self: center;
  grid-area: fightLaunch;
}

button {
  margin-bottom: 15px;
}

.imgFighter1 {
  position: absolute;
  animation-name: leftToRight;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes leftToRight {
  0% {
    left: 0;
  }
  50% {
    left: 1050px;
  }
  100% {
    left: 0;
  }
}
