* {
  box-sizing: border-box;
  font-family: "Sedgwick Ave Display", cursive;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #d6d6d6;
  font-family: "Sedgwick Ave Display", cursive;
  display: inline;
}
header {
  background-color: #333533;
  height: 9rem;
  text-align: center;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 40px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  height: 15rem;
  font-family: "Sedgwick Ave Display", cursive;
}

.container {
  width: 90%;
  padding: 10px;
}
footer {
  background-color: #333533;
  height: 6rem;
  align-items: center;
}

.main-container {
  max-width: 960px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  justify-content: space-between;
}
.img-main {
  margin-bottom: 30px;
}
.big {
  flex-basis: 50%;
}
.text-container {
  max-width: 300px;
  max-height: 400px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  padding: 10px 0;
  justify-content: space-between;
  width: 80%;
  display: flex;
  align-items: center;
}
