* {
  box-sizing: border-box;
  font-family: "Sedgwick Ave Display", cursive;
}
html {
  scroll-behavior: smooth;
  text-align: center;
}
body {
  background-color: #d6d6d6;
  font-family: "Sedgwick Ave Display", cursive;
}
header {
  background-color: #202020;
  text-align: center;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 20px;
}

h1 {
  font-family: "Sedgwick Ave Display", cursive;
}
.logo {
  width: 100%;
}

.active {
  background-color: #ffd100;
  color: #333533;
}
footer {
  background-color: #202020;
  height: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  textwe
}

ul {
  display: flex;

  justify-content: center;
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 800;

  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffd100;
  list-style-type: none;
  padding: 7px;
  border-radius: 10px;
  box-shadow: #333533;
}

a:hover {
  background-color: #ffd100;
  color: #333533;
}
li {
  margin: 15px;
}
.main-container {
  margin-bottom: 3rem;
}
